#about_main {
    margin: 0 auto;
    padding: 70px 0 50px;
    background-color: $light;
    overflow: hidden;

    h1 {
        text-align: center;
        font-size: 2.6rem;
        padding: 0 16px;
        line-height: 1.2;
        display: flex;
        flex-direction: column;

        @media (min-width: $mq-md) {
            font-size: 3.4rem;
            margin-top: 70px;
        }
    }

    h2 {
        text-align: center;
        font-size: 2.5rem;
    }

    img {
        width: 100vw;
        max-width: 520px;
        margin: 0 auto;
        display: block;
        box-shadow: 0 2px 16px black;

        @media (min-width: $mq-md) {
            box-shadow: 0 0 20px 2px black;
        }
    }
}

#about_quote {
    padding: 25px;
    text-align: justify;
    margin: 20px auto 0;
    max-width: 640px;
    position: relative;
    text-shadow: 0 0 4px #000000;
    z-index: 1;

    @media (min-width: $mq-md) {
        margin: 40px auto;
    }

    h2, q, p {
        color: #ffffff;
    }

    q {
        font-family: $font-fancy;
        font-size: 1.35rem;
        font-weight: 700;
        line-height: 1.2;

        @media (min-width: $mq-lg) {
            font-size: 1.65rem;
        }
    }
}

#about-window-img {
    width: 100vw;
    background-image: url('../../imgs/about-room-showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    box-shadow: 0 2px 16px black;
    position: relative;

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $green;
        opacity: 0.55;
    }

    @media (min-width: $mq-lg) {
        box-shadow: 0 0 16px black inset;
    }
}

#about_story {
    max-width: 980px;
    margin: 0 auto 80px;

    h2 {
        font-size: 2.4rem;

        @media (min-width: $mq-md) {
            font-size: 2.8rem;
        }
    }

    p {
        line-height: 1.5;
        padding: 0 16px;
    }

    .img-float-left {
        width: 100vw;
        max-width: 540px;
        margin: 0 auto;

        @media (min-width: $mq-md) {
            float: left;
            margin: 0 30px 10px 0;
        }
    }
}

.process-cont {
    max-width: 980px;
    margin: 0 auto 30px;

    h2 {
        margin: 50px auto 20px;

        @media (min-width: $mq-lg) {
            margin: 50px auto;
        }
    }
}

.process-inner {
    display: flex;
    flex-wrap: wrap;

    .process-text {
        padding: 0 10px 20px;
        max-width: 300px;
        margin: 0 auto;
    }
}