#banner {
    background-image: url(../../imgs/display_main-sm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 300px;
    position: relative;
    top: 70px;
    border-bottom: 5px solid $green;
}