#gallery_main {
    margin: 70px auto 60px;
    background-color: $light;
    overflow-x: hidden;
    color: $dark;
    z-index: 10;

    h1 {
        text-align: center;
        font-size: 3rem;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    @media (min-width: $mq-md) {

        h1 {
            font-size: 4rem;
            margin: 0 auto;
        }
    }
}

#arrow_container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: -24px auto 0;
    font-size: 3rem;

    .inactive {
        color: #d3d3d3;
        cursor: default;
        
        &:hover {
            transform: none;
        }
    }

    @media (min-width: $mq-lg) {
        position: relative;
        top: 40vh;
        font-size: 4rem;
        z-index: 10;
    }
}

#left_arrow,
#right_arrow {
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

#gallery_slideshow {
    display: flex;
    overflow-x: visible;
    position: relative;
    transition: .5s all ease;
    width: calc(100vw * 14);

    .gallery-img--container {
        width: 100vw;
        min-width: 100vw;
        display: flex;

        img {
            width: 95%;
            margin: auto auto;
            display: block;
    
            &.landscape {
                height: calc(95vw * 0.75);
            }
        }
    }

    @media (min-width: $mq-sm) {

        .gallery-img--container {

            img {
                width: 85%;
                height: 100%;
    
                &.landscape {
                    height: calc(85vw * 0.75);
                    max-height: 585px;
                    max-width: 780px;
                }
        
                &.portrait {
                    max-width: 430px;
                    height: 100%;
                }
            }
        }
    }

    @media (min-width: $mq-md) {
        transition: .7s all ease;
        margin-top: -20px;
    }
}