#banner {
    background-image: url("../../imgs/display_main-sm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 0%;
    width: 100vw;
    height: 348px;
    position: fixed;
    top: 0;

    @media (min-width: $mq-md) {
        background-image: url("../../imgs/display_main-lg.jpg");
        background-position: 10% 30%;
        height: 458px;
    }
}

#main_wrapper {
    margin-top: 348px;
    border-top: 3px solid $dark;
    z-index: 10;
    background-color: $light;
    padding-bottom: 40px;
    position: relative;

    @media (min-width: $mq-md) {
        padding-bottom: 24px;
        margin-top: 455px;
    }
    @media (min-width: $mq-lg) {
        padding-bottom: 50px;
    }
}

#home_blocks {
    margin: 0 auto -40px;
}

.home_block-content {
    margin: 0 auto;
    padding: 50px 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    transition: 1s ease all;

    @media (min-width: $mq-md) {
        padding: 12px 14px;
        margin: 80px auto;
        width: 300px;
        height: fit-content;
        align-self: center;
    }

    @media (min-width: $mq-lg) {
        height: 600px;
        width: 600px;
        margin: 0 -80px;
        padding: 0;
        box-sizing: border-box;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
        margin: 8px;

        @media (min-width: $mq-md) {
            font-size: 2.35rem;
        }
        @media (min-width: $mq-lg) {
            font-size: 2.7rem;
            align-self: center;
            padding: 0 100px;
        }
    }

    p {
        text-align: center;
        margin-top: 25px;

        a {
            text-decoration: none;
            text-transform: lowercase;

            &:hover {
                text-decoration: line-through;
            }

            &::before {
                content: "≫ ";
                font-size: 1.2rem;
            }
        }
    }
}

#block-content-1 {
    overflow-y: hidden;

    @media (min-width: $mq-md) {
        border: none;
        box-shadow: none;
        background-image: none;
        width: 700px;
        border-bottom: solid 3px $blue;

        h2 {
            font-size: 3rem;
            text-shadow: -4px 4px 8px rgba($blue, 0.4);
        }
    }

    @media (min-width: $mq-lg) {
        height: 140px;
        height: fit-content;
        margin: 84px auto 0;

        h2 {
            padding: 0;
        }
    }

    &::after {
        @media (min-width: $mq-md) {
            background-image: none;
        }   
    }

    &-text {
        position: relative;
        transition: all 1s ease;
    }
}

.hidden {
    opacity: 0;
    bottom: -150px;
}

.showing {
    opacity: 1;
    bottom: 0;
}

.blocks-imgs {
    @media (min-width: $mq-md) {
        &:nth-child(2) {
            padding-top: 0;
        }
        &:nth-child(3) {
            background-color: $green;
            color: #ffffff;
            
            .home-block-outer {
                flex-direction: row-reverse;

                a {
                    color: #ffffff;
                }
            }
        }
        padding: 64px 0;
    }

    @media (min-width: $mq-lg) {
        padding: 100px 0;

        &:nth-child(2) {
            padding-top: 100px;
        }
    }

    &:nth-child(2) .home_block-content,
    &:nth-child(4) .home_block-content {
        right: -380px;
        opacity: 0;

        &.in-position {
            right: 0;
            opacity: 1;
        }
    }

    &:nth-child(3) .home_block-content {
        left: -380px;
        opacity: 0;

        &.in-position {
            left: 0;
            opacity: 1;
        }
    }
}

.home-block-outer {
    @media (min-width: $mq-md) {
        display: flex;
        justify-content: space-around;
        max-width: 80vw;
        margin: 0 auto;
    }

    @media (min-width: $mq-lg) {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.home-img-cont {
    width: 100vw;
    height: 133vw;

    @media (min-width: $mq-md) {
        width: 320px;
        height: 450px;
    }
    @media (min-width: $mq-lg) {
        width: 440px;
        height: 600px;
    }
}

.home_img {
    width: 100%;
    height: 100%;
    border-top: solid 3px $dark;
    border-bottom: solid 3px $dark;

    @media (min-width: $mq-md) {
        margin: 0 auto;
        border: none;
        border-radius: 50%;
        box-shadow: 4px 4px 12px 4px rgba(#000, 0.5);
    }
}

#home_img-2 {
    @media (min-width: $mq-md) {
        order: 2;
    }
}