// Colors

$d-blue: #12355B;
$blue: rgb(8, 76, 135);
$light: #f9faff;
$green: #417B5a;
$dark: #3F0227;

// Fonts

// $font-logo: 'Raleway', cursive;
$font-serif: 'Merriweather', serif;
$font-sans: 'Raleway', sans-serif;
$font-fancy: 'Poiret One', cursive;

// Media Queries 

$mq-xs: 375px;
$mq-sm: 600px;
$mq-md: 850px;
$mq-lg: 1020px;
$mq-xl: 1200px;